<!doctype html>
<html>
    <head>
        <tittle>Hello</tittle>
    </head>
    <body>
        <form action"/" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="submit" value="push"
        </form>
    </body>
</html>
